<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Wish List</title>

    <link rel="stylesheet" type="text/css" href="static/css/clientProfile.css">
    <style type="text/css">
      .card-img-top{
        height: 290px;
        width:285px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-5">
    <!-- Navbar content -->
      <a class="navbar-brand" href="#">Comet Mart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">WishList</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sold</a>
          </li>
          
        </ul>
      </div>

        <div class="form-inline me-5">
           <ul class="navbar-nav me-5">
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="rounded-image" width="25px" height="25px" src="./static/images/profile.png">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Reports & History</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
          </ul>
        </div>
      </nav>
       
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
             <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
              <div class="card-body">
                <h5 class="card-title">Blue denim shirt</h5>                
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" alt="Sample">
              <div class="card-body">
                <h5 class="card-title">Red hoodie</h5>                
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" alt="Sample">
              <div class="card-body">
                <h5 class="card-title">Grey sweater</h5>                
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/155378-phones-review-hands-on-samsung-galaxy-s21-ultra-image1-luae09ici4.JPG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Samsung S21</h5>                
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0253/1881/7858/files/LAYER_DETAILS_2.8_1200x628_crop_center.jpg?v=1631645061" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>                
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

        </div>        
      </div>


  </body>

</html>